@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@font-face {
    font-family: 'AvenirNext';
    src: url('/fonts/AvenirNextLTPro-Regular.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextBold';
    src: url('/fonts/AvenirNextLTPro-Bold.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Global styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --primary: #002244;
    --white: #ffffff;
    --bg: #001022;
}

html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body {
    font-size: 1.6rem;
    background: var(--bg);
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal overflow */
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 0; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #001022; /* Darker shade of the page background or another color */
}

::-webkit-scrollbar-thumb {
    background: var(--primary); /* Use the primary color for the thumb */
    border-radius: 6px; /* Optional: add border-radius to the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #002244; /* Darker or lighter shade of the primary color on hover */
}

/* Adjustments for logo visibility */
.imageContainer, .image {
    /* Ensure these containers are not accidentally hidden */
    width: auto; /* Adjust width as necessary */
    max-width: 100%; /* Prevent overflow */
    height: auto; /* Adjust height as necessary */
    display: flex; /* Keep flex display */
    justify-content: center;
    align-items: center;
}

.image:hover {
    cursor: pointer;
}

.mainContainer {
    background-color: transparent;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.video {
    margin-top: -5%;
    width: 85%;
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    font-size: 32px;
    font-family: AvenirNextBold;
    text-align: center;
    color: #fff;
}

.firstTitle {
    margin-top: 3%;
}

.secondTitle{
   font-family: AvenirNextBold;
    margin-top: -32%;
}

.container {
  position: relative;
  max-width:412px; /* Adjust as needed */
  margin: 0 auto;
  overflow: hidden; /* Ensure the gradients don't extend outside the container */
}

.container::before,
.container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0px; /* Adjust the width of the fade effect */
  z-index: 2;
  pointer-events: none; /* Ensure clicks pass through */
}

.container::before {
  left: 0;
  background: linear-gradient(to right, rgba(0,16,34,1) 50%, rgba(0,16,34,0) 100%);
}

.container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0,16,34,1) 50%, rgba(0,16,34,0) 100%);
}


.text-center {
    text-align: center;
}

.section-heading {
    font-size: 3rem;
    color: var(--primary);
    padding: 2rem 0;
}

#tranding {
    margin-top: -30%;
    padding: 4rem 0;
    background:transparent;
}

.tranding-slider {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
}


#tranding .tranding-slider {
    position: relative;
    overflow: hidden;
    padding: 2rem 0;
}

.tranding-slide {
    width: auto; /* Adjusted for horizontal alignment */
    display: flex; /* Flex layout for centering content */
    justify-content: center;
    align-items: center;
}

.tranding-slide .tranding-slide-img img {
    width: 250px; /* Adjusted image width */
    height: 225px; /* Adjusted image height */
    border-radius: 2rem;
    object-fit: cover;
}
/* Targeting all slides */
.tranding-slide .tranding-slide-img img {
  transition: transform 0.5s ease; /* Smooth transition for scaling */
}

/* Assuming your central slide has a specific class when active; for example, '.swiper-slide-active' */
.swiper-slide-active .tranding-slide-img img {
  transform: scale(1); /* Keep the central image at normal size */
}

/* You can adjust this scale value as needed */
.swiper-slide-next .tranding-slide-img img,
.swiper-slide-prev .tranding-slide-img img {
  transform: scale(0.9); /* Smaller scale for images on the sides */
}

.tranding-slide-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: var(--white);
}

.food-price, .tranding-slide-content-bottom {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.tranding-slide-content-bottom {
    bottom: 2rem;
    left: 2rem;
}

.rating ion-icon {
    color: var(--primary);
}

.tranding-slider::before,
.tranding-slider::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px; /* Adjust the width of the fade effect as needed */
    pointer-events: none;
    z-index: 10;
    background: linear-gradient(to right, var(--bg) 0%, rgba(0,16,34,0) 100%);
}

.tranding-slider::after {
    right: 0;
    background: linear-gradient(to left, var(--bg) 0%, rgba(0,16,34,0) 100%);
}


.tranding-slider::before {
    left: 0;
}

.swiper-slide-shadow-left, .swiper-slide-shadow-right,
.swiper-slide::before, .swiper-slide::after {
    display: none !important;
}

.swiper-slide {
    display: flex;
    justify-content: center; /* Center content within the slide */
    width:auto;
}

@media screen and (min-width: 320px){
  .image {
        width: 80%; /* Adjust based on your logo size */
        margin-top: -20%; /* Adjust margin to ensure visibility */
    }

.video {
  margin-top: -8%;
  width: 85%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#tranding {
  margin-top: -25%;
  padding: 4rem 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
    background: transparent;
  max-width: 482px;
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
}

.tranding-slide .tranding-slide-img img {
  width: 300px; /* Adjusted image width */
  height: 325px; /* Adjusted image height */
  border-radius: 2rem;
  object-fit: cover;
}

.secondTitle{
  font-family: AvenirNextBold;
   margin-top: -22%;
}
}
@media screen and (min-width: 768px){
  .image {
        width: 80%; /* Increase width for smaller devices */
        margin-top: 0; /* Adjust margin to ensure visibility */
    }

.video {
  margin-top: -5%;
  width: 75%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#tranding {
  margin-top: -12%;
  padding: 4rem 0;
}

.container {
  max-width: 558px;
  padding: 0 1rem;
  margin: 0 auto;
}

.tranding-slide .tranding-slide-img img {
  width: 300px; /* Adjusted image width */
  height: 325px; /* Adjusted image height */
  border-radius: 2rem;
  object-fit: cover;
}
.firstTitle{
  font-size: 50px;
  margin-top: 1%;
}
.secondTitle{
  font-size: 50px;
   margin-top: -13%;
}
.swiper-slide-next .tranding-slide-img img,
.swiper-slide-prev .tranding-slide-img img {
  transform: scale(0.9); /* Smaller scale for images on the sides */
}
}

@media screen and (min-width: 1024px){
  .image {
    width: 30%;
    margin-top: -8%;
}

.video {
  margin-top: -5%;
  width: 45%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#tranding {
  margin-top: -6%;
  padding: 4rem 0;
}

.container {
  max-width: 558px;
  padding: 0 1rem;
  margin: 0 auto;
}

.tranding-slide .tranding-slide-img img {
  width: 300px; /* Adjusted image width */
  height: 325px; /* Adjusted image height */
  border-radius: 2rem;
  object-fit: cover;
}
.firstTitle{
font-size:36px;
  margin-top: 1%;
}
.secondTitle{
  font-size:36px;
   margin-top: -7%;
}
.swiper-slide-next .tranding-slide-img img,
.swiper-slide-prev .tranding-slide-img img {
  transform: scale(0.9); /* Smaller scale for images on the sides */
}
}
